<template>
  <div>
    hello world about
    <component-about></component-about>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import ComponentAbout from '@/modules/about/components/component.vue';
@Component({
  components: {
    ComponentAbout
  }
})
export default class ClassName extends Vue {}
</script>
<style lang="scss" scoped></style>
