<template>
  <div>
    hello from about component
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
@Component
export default class ClassName extends Vue {}
</script>
<style lang="scss" scoped></style>
