<template>
  <div></div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
@Component
export default class ClassName extends Vue {}
</script>
<style lang="scss" scoped></style>
