<template>
  <div>
    <div style="color: red; font-size:30px">{{msg}}</div>
    <input type="text" v-model="msg"/>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { mapState, mapActions, mapMutations  } from 'vuex'
@Component({
  computed: {
    ...mapState('home', ['username', 'userList']),
  },
  methods:{
    ...mapActions('home', ['queryUserLists'])
  }
})
export default class ClassName extends Vue {
  private msg: string = "hello from home base"
  private username!: string;
  private userList!: any;
  private queryUserLists!: (thing: any)=>{};
  created(){
    console.log(this.username);
    console.log(this.userList);
    this.queryUserLists([{username:'user1'}, {username:'user2'}]);
    console.log(this.userList);
  }

}
</script>
<style lang="scss" scoped></style>
