<template>
  <div>
    <div class="">home 2 {{msg}}</div>
    <input type="text" v-model="msg"/>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
@Component
export default class ClassName extends Vue {
  private msg: string = "hello from home base"

}
</script>
<style lang="scss" scoped></style>
