<template>
  <div id="app">
    <router-view></router-view>
    <img src="@/assets/logo.png"/>
    <router-link to="/home">Home</router-link>
    <router-link to="/about">Abomut</router-link>
    <router-link to="/home/aaa">Home-2</router-link>
    <router-link to="/about/2">About-2</router-link>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
